## UN Data Exploration

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
gdp_df = pd.read_csv("/Users/bentonwang/My_Documents/NSS_DS8_Projects/un-exploration-MultidisciplinaryDeepDives/data/gdp_per_capita.csv")

In [3]:
gdp_df.head(10)

  Country or Area  Year        Value  Value Footnotes  Value Footnotes.1
0     Afghanistan  2021  1673.964059              NaN                NaN
1     Afghanistan  2020  2078.595086              NaN                NaN
2     Afghanistan  2019  2168.133765              NaN                NaN
3     Afghanistan  2018  2110.239384              NaN                NaN
4     Afghanistan  2017  2096.093111              NaN                NaN
5     Afghanistan  2016  2023.834656              NaN                NaN
6     Afghanistan  2015  2128.125938              NaN                NaN
7     Afghanistan  2014  2110.829568              NaN                NaN
8     Afghanistan  2013  2062.059176              NaN                NaN
9     Afghanistan  2012  1958.447627              NaN                NaN

In [4]:
gdp_df.tail(10)

     Country or Area  Year        Value  Value Footnotes  Value Footnotes.1
7718        Zimbabwe  1999  2279.549784              NaN                NaN
7719        Zimbabwe  1998  2299.395445              NaN                NaN
7720        Zimbabwe  1997  2246.209391              NaN                NaN
7721        Zimbabwe  1996  2185.928529              NaN                NaN
7722        Zimbabwe  1995  1977.675574              NaN                NaN
7723        Zimbabwe  1994  1958.125362              NaN                NaN
7724        Zimbabwe  1993  1765.451299              NaN                NaN
7725        Zimbabwe  1992  1731.232787              NaN                NaN
7726        Zimbabwe  1991  1907.652489              NaN                NaN
7727        Zimbabwe  1990  1794.153646              NaN                NaN

In [5]:
gdp_df = gdp_df.drop(['Value Footnotes', 'Value Footnotes.1'], axis=1)

In [6]:
gdp_df = gdp_df.rename(columns = {"Country or Area": "Country", "Value": "GDP_Per_Capita"})

In [7]:
gdp_df.shape

(7728, 3)

In [8]:
gdp_df

          Country  Year  GDP_Per_Capita
0     Afghanistan  2021     1673.964059
1     Afghanistan  2020     2078.595086
2     Afghanistan  2019     2168.133765
3     Afghanistan  2018     2110.239384
4     Afghanistan  2017     2096.093111
...           ...   ...             ...
7723     Zimbabwe  1994     1958.125362
7724     Zimbabwe  1993     1765.451299
7725     Zimbabwe  1992     1731.232787
7726     Zimbabwe  1991     1907.652489
7727     Zimbabwe  1990     1794.153646

[7728 rows x 3 columns]

In [9]:
gdp_df.dtypes

Country            object
Year                int64
GDP_Per_Capita    float64
dtype: object

In [12]:
Year_series = gdp_df['Year'].squeeze()
Year_series

0       2021
1       2020
2       2019
3       2018
4       2017
        ...
7723    1994
7724    1993
7725    1992
7726    1991
7727    1990
Name: Year, Length: 7728, dtype: int64

In [13]:
Year_array = pd.unique(pd.Series(Year_series))
Year_array

array([2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011,
       2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2022, 2001,
       2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990])

In [14]:
gdp_df.groupby("Year").size()

Year
1990    208
1991    210
1992    213
1993    214
1994    216
1995    226
1996    226
1997    227
1998    227
1999    228
2000    236
2001    237
2002    238
2003    238
2004    239
2005    239
2006    240
2007    240
2008    242
2009    243
2010    243
2011    244
2012    242
2013    244
2014    243
2015    243
2016    242
2017    242
2018    242
2019    242
2020    241
2021    241
2022    232
dtype: int64

### Q7: more recent years have more observations, generally speaking

In [15]:
Country_series = gdp_df['Country'].squeeze()
Country_series

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
7723       Zimbabwe
7724       Zimbabwe
7725       Zimbabwe
7726       Zimbabwe
7727       Zimbabwe
Name: Country, Length: 7728, dtype: object

In [19]:
unique_Country_array = pd.unique(pd.Series(Country_series))
unique_Country_array

array(['Afghanistan', 'Africa Eastern and Southern',
       'Africa Western and Central', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Arab World', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', "CÃ´te d'Ivoire", 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Caribbean small states', 'Cayman Islands',
       'Central African Republic', 'Central Europe and the Baltics',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Costa Rica', 'Croatia', 'CuraÃ§ao', 'Cyprus', 'Czechia',
       'Dem. Rep. Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD)', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Euro area', 'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD)', 'European Union', 'Fiji',
       'Finland', 'Fragile and conflict affected situations', 'France',
       'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'Honduras', 'Hong Kong SAR, China', 'Hungary', 'IBRD only',
       'Iceland', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Korea', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & Caribbean (IDA & IBRD)', 'Latvia',
       'Least developed countries: UN classification', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Low & middle income',
       'Low income', 'Lower middle income', 'Luxembourg',
       'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia', 'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD)', 'Middle income',
       'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North America',
       'North Macedonia', 'Norway', 'OECD members', 'Oman',
       'Other small states', 'Pacific island small states', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Post-demographic dividend',
       'Pre-demographic dividend', 'Puerto Rico', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'SÃ£o TomÃ© and Principe', 'Samoa',
       'San Marino', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)',
       'Slovak Republic', 'Slovenia', 'Small states', 'Solomon Islands',
       'Somalia', 'South Africa', 'South Asia', 'South Asia (IDA & IBRD)',
       'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis',
       'St. Lucia', 'St. Vincent and the Grenadines',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD)', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'TÃ¼rkiye', 'Tajikistan', 'Tanzania', 'Thailand',
       'The Bahamas', 'The Gambia', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Viet Nam', 'West Bank and Gaza', 'World', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [18]:
gdp_df.groupby("Country").size()

Country
Afghanistan                    20
Africa Eastern and Southern    33
Africa Western and Central     33
Albania                        33
Algeria                        33
                               ..
West Bank and Gaza             29
World                          33
Yemen                          24
Zambia                         33
Zimbabwe                       33
Length: 246, dtype: int64