## UN Data Exploration

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
gdp_df = pd.read_csv("/Users/bentonwang/My_Documents/NSS_DS8_Projects/un-exploration-MultidisciplinaryDeepDives/data/gdp_per_capita.csv")

In [3]:
gdp_df.head(10)

  Country or Area  Year        Value  Value Footnotes  Value Footnotes.1
0     Afghanistan  2021  1673.964059              NaN                NaN
1     Afghanistan  2020  2078.595086              NaN                NaN
2     Afghanistan  2019  2168.133765              NaN                NaN
3     Afghanistan  2018  2110.239384              NaN                NaN
4     Afghanistan  2017  2096.093111              NaN                NaN
5     Afghanistan  2016  2023.834656              NaN                NaN
6     Afghanistan  2015  2128.125938              NaN                NaN
7     Afghanistan  2014  2110.829568              NaN                NaN
8     Afghanistan  2013  2062.059176              NaN                NaN
9     Afghanistan  2012  1958.447627              NaN                NaN

In [4]:
gdp_df.tail(10)

     Country or Area  Year        Value  Value Footnotes  Value Footnotes.1
7718        Zimbabwe  1999  2279.549784              NaN                NaN
7719        Zimbabwe  1998  2299.395445              NaN                NaN
7720        Zimbabwe  1997  2246.209391              NaN                NaN
7721        Zimbabwe  1996  2185.928529              NaN                NaN
7722        Zimbabwe  1995  1977.675574              NaN                NaN
7723        Zimbabwe  1994  1958.125362              NaN                NaN
7724        Zimbabwe  1993  1765.451299              NaN                NaN
7725        Zimbabwe  1992  1731.232787              NaN                NaN
7726        Zimbabwe  1991  1907.652489              NaN                NaN
7727        Zimbabwe  1990  1794.153646              NaN                NaN